<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{76,36}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,55},{76,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{74,32}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,55},{74,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{74,36}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,54},{74,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{72,40}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{72,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,82},{76,42}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,57},{76,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{78,36}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,63},{78,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{76,28}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,72},{76,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{76,28}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,72},{76,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{76,28}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,72},{76,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{76,34}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,65},{76,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,310},{74,38}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,61},{74,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,160},{74,40}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,58},{74,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,42}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{78,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,42}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,55},{78,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{78,40}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,54},{78,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{76,40}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,54},{76,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>picture.png</string>
            <key>size</key>
            <string>{126,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ecd574887760beb6c4d0729e950f455:e3e0ecf19c75b0c4ed7c2c74fd12713f:9a277362ecd4b393697637997bec2b38$</string>
            <key>textureFileName</key>
            <string>picture.png</string>
        </dict>
    </dict>
</plist>
